<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taskco.mapper.UserMapper">

	<!--회원가입 쿼리 -->
	<insert id="join" parameterType="com.taskco.entity.User">
		insert into tb_user(email, pw, name, status_msg, profile_img, join_dt)
		values(
		#{email},
		#{pw},
		#{name},
		#{status_msg},
		#{profile_img},
		SYSDATE

		)

	</insert>

	<!--로그인 쿼리 -->

	<select id="login" parameterType="com.taskco.entity.User">

		select *
		from tb_user
		where email=#{email}
		and pw=#{pw}

	</select>

	<!-- google API 부분 -->
	<select id="loginWithEmail" parameterType="com.taskco.entity.User"
		resultType="com.taskco.entity.User">
		select * from tb_user where email = #{email,jdbcType=VARCHAR}
	</select>
	
	<!-- email 중복 처리 -->
	<!-- 하나의 변수만 조회: resultType-->
	<!-- 대소문자 구분 없이 중복 처리 -->
	<select id="check" resultType="com.taskco.entity.User">
		select * from tb_user
		where LOWER(email)=LOWER(#{email})
	
	</select>
	
	
	<!-- 프로필 수정  -->
	<update id="update" parameterType="com.taskco.entity.User">
		update tb_user
		set name=#{name}, status_msg=#{status_msg}, profile_img=#{profile_img}, pw=#{pw}
		where email=#{email}
		
	</update>




</mapper>