@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html{
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  overflow-x: auto;
  height: 100%;
}


#app {
  width: 100%;
  height: 100%;
 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}

/* 커스텀 클래스. main.ts에 반드시 css파일이 임포트 되어야함.  */
@layer components {
  .input-floating {
    @apply  w-full px-4 pt-5 pb-2 border border-gray-300 rounded-md placeholder-transparent focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .label-floating {
    @apply absolute left-4 top-2 text-gray-500 text-sm transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-focus:top-1 peer-focus:text-sm;
  }

  .btn-blue {
    @apply bg-blue-300 text-white p-1 m-1  text-xs

  }

  .name-tag{
    @apply bg-purple-300 text-white p-1 m-1  text-xs

  }

  .modal-background{
    @apply fixed inset-0 bg-black/50 flex items-center justify-center z-50
  }

  .modal-window{
    @apply bg-white p-6 rounded-lg w-full max-w-lg shadow-lg max-h-[80vh] overflow-y-auto
  }
  
}

